<div class="card">
  <div class="card-body">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <h5 class="m-0 me-1"><strong>List of Shipments </strong></h5>
        <span class="p-input-icon-left" style="padding-left: 30px;">
          <i class="pi pi-search" style="padding-left: 30px;"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple icon="pi pi-sync" class="p-button-rounded p-button mr-2"
          (click)="load()"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="shipment" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true" [rowHover]="true"
      [globalFilterFields]="['branch', 'origin', 'loadPort', 'dischargePort', 'flight', 'shipmentId', 'airwayBillNumber']"
      styleClass="p-datatable-gridlines p-datatable-striped" dataKey="shipmentId">
      <ng-template pTemplate="header" class="pt-2" >
        <tr>
          <th style="width: 3rem"></th>
          <th style="width: 4rem" pSortableColumn="origin" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              Origin
              <p-sortIcon field="origin"></p-sortIcon>
              <p-columnFilter type="text" field="origin" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem" pSortableColumn="loadPort" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              Load Port
              <p-sortIcon field="loadPort"></p-sortIcon>
              <p-columnFilter type="text" field="loadPort" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem" pSortableColumn="dischargePort" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              Discharge Port
              <p-sortIcon field="dischargePort"></p-sortIcon>
              <p-columnFilter type="text" field="dischargePort" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem" pSortableColumn="flight" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              Flight
              <p-sortIcon field="flight"></p-sortIcon>
              <p-columnFilter type="text" field="flight" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem" pSortableColumn="shipmentId" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              Shipment
              <p-sortIcon field="shipmentId"></p-sortIcon>
              <p-columnFilter type="text" field="shipmentId" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem" pSortableColumn="airwayBillNumber" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              MAWB
              <p-sortIcon field="airwayBillNumber"></p-sortIcon>
              <p-columnFilter type="text" field="airwayBillNumber" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem" pSortableColumn="etd" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              Etd
              <p-sortIcon field="etd"></p-sortIcon>
              <p-columnFilter type="text" field="etd" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem" pSortableColumn="eta" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              Eta
              <p-sortIcon field="eta"></p-sortIcon>
              <p-columnFilter type="text" field="eta" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem" pSortableColumn="ata" pResizableColumn>
            <div class="flex justify-content-between align-items-center">
              Ata
              <p-sortIcon field="ata"></p-sortIcon>
              <p-columnFilter type="text" field="ata" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 0.5rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-shipments let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="shipments" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td style="font-size: 0.875em;">{{ shipments.origin }}</td>
          <td style="font-size: 0.875em;">{{ shipments.loadPort }}</td>
          <td style="font-size: 0.875em;">{{ shipments.dischargePort }}</td>
          <td style="font-weight: bold; text-align: left; font-size: 0.875em;">
            <i class="pi pi-flag-fill" style="color: #186A3B;"></i> {{ shipments.flight }}
          </td>
          <td  style="font-weight: bold; font-size: 0.875em;">
            {{ shipments.shipmentId }}
          </td>
          <td style="font-weight: bold; color:rgb(121, 121, 156); font-size: 0.875em;">{{ shipments.airwayBillNumber | shipmentformat }}</td>
          <td style="text-align: left; font-size: 0.875em;">
            <div class="grid">
              <div class="col-12" style="font-weight: bold;color: #6495ED;">
                <i class="pi pi-calendar"></i> {{ shipments.etd  | date: 'MM-dd-yy' }}
              </div>
              <div class="col-12" style="font-weight: bold;color: #02243B;">
                <i class="pi pi-clock"></i> {{ shipments.etd  | date: 'hh:mm' }}
              </div>
            </div>
          </td>
          <td style="font-size: 0.875em;">
            <div class="grid">
              <div class="col-12" style="font-weight: bold;">
                <i class="pi pi-calendar"></i> {{ shipments.eta  | date: 'MM-dd-yy' }}
              </div>
              <div class="col-12" style="font-weight: bold;color: #2f8a04;">
                <i class="pi pi-clock"></i> {{ shipments.eta  | date: 'hh:mm' }}
              </div>
            </div>
          </td>
          <td style="font-size: 0.875em;">
            <div class="grid" *ngIf="shipment.ata">
              <div class="col-12" style="font-weight: bold;color: #201602;">
                <i class="pi pi-calendar"></i> {{ shipments.ata  | date: 'MM-dd-yy' }}
              </div>
              <div class="col-12" style="font-weight: bold;color: #58061a;">
                <i class="pi pi-clock"></i> {{ shipments.ata  | date: 'hh:mm' }}
              </div>
            </div>
          </td>
          <td  style="width: 0.5rem" class="p-text-center">
            <i class="pi" [ngClass]="{'true-icon pi-check-circle': shipments.etd && shipments.eta && shipments.ata, 'false-icon pi-times-circle': !shipments.etd || !shipments.eta || !shipments.ata}"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-shipments>
        <!-- <tr>
          <td colspan="11">
            <p-timeline [value]="events" layout="horizontal" styleClass="customized-timeline">
              <ng-template pTemplate="marker" let-event>
                <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">

                  <i [ngClass]="event.icon"></i>
                </span>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                <div style="font-weight: bold; font-size: 0.9rem">
                  {{event.status}}
                </div>
              </ng-template>
            </p-timeline>
          </td>
        </tr> -->
        <tr>
          <td colspan="11">
            <div class="grid">

              <div class="col-12 lg:col-6 xl:col-3">
                <div class="card p-0 overflow-hidden flex flex-column">
                  <div class="flex align-items-center p-3">
                    <i class="pi pi-map text-6xl text-green-500"></i>
                    <div class="ml-3">
                      <span class="text-green-500 block white-space-nowrap">Branch : {{shipments.branch}}</span>
                      <span class="text-green-500 block text-2xl font-bold">{{shipments.origin}} - {{shipments.destination }} / {{shipments.totalWeight}} KG</span>
                    </div>
                  </div>
                  <img alt="conversion" class="w-full" src="assets/images/rate.svg">
                </div>
              </div>

              <div class="col-12 lg:col-6 xl:col-3">
                <div class="card p-0 overflow-hidden flex flex-column">
                  <div class="flex align-items-center p-3">
                    <i class="pi pi-telegram text-6xl text-orange-500"></i>
                    <div class="ml-3">
                      <span class="text-orange-500 block white-space-nowrap">Carrier</span>
                      <span class="text-orange-500 block text-2xl font-bold" pTooltip="{{shipments.carrierName}}" tooltipPosition="top">{{shipments.carrierName}}</span>
                    </div>
                  </div>
                  <img alt="locations" class="w-full" src="assets/images/locations.svg">
                </div>
              </div>

              <div class="col-12 lg:col-6 xl:col-3">
                <div class="card p-0 overflow-hidden flex flex-column">
                  <div class="flex align-items-center p-3">
                    <i class="pi pi-users text-6xl text-blue-500"></i>
                    <div class="ml-3">
                      <span class="text-blue-500 block white-space-nowrap">Shipper</span>
                      <span class="text-blue-500 block text-2xl font-bold" pTooltip="{{shipments.shipperName}}" tooltipPosition="top"> {{shipments.shipperName}}</span>
                    </div>
                  </div>
                  <img alt="users" class="w-full" src="assets/images/users.svg">
                </div>
              </div>

              <div class="col-12 lg:col-6 xl:col-3">
                <div class="card p-0 overflow-hidden flex flex-column">
                  <div class="flex align-items-center p-3">
                    <i class="pi pi-users text-6xl text-purple-500"></i>
                    <div class="ml-3">
                      <span class="text-purple-500 block white-space-nowrap">Consignee</span>
                      <span class="text-purple-500 block text-2xl font-bold" pTooltip="{{shipments.consigneeName}}" tooltipPosition="top">{{shipments.consigneeName}}</span>
                    </div>
                  </div>
                  <img alt="interactions" class="w-full mt-auto" src="assets/images/interactions.svg">
                </div>
              </div>

            </div>
          </td>
      </tr>
      </ng-template>
    </p-table>

  </div>
</div>

